.sidebar{
    width: 14rem;
    height: calc(100vh - 52px);
    border-right: 1px solid rgb(27, 138, 136);
  }
.active {
  background-color: #dee2e6;
}
a:hover{
  color: #ffffff;
}
  ul {
    list-style: none;
    padding: 1rem 2rem;
  }
  li{
    margin-bottom: 1rem;
  }
  a{
    text-decoration: none;
  }